.container {
  position: relative;
  text-align: center;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search,
.create {
  width: 100%;
}

.create {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.create input {
  margin-bottom: 15px;
}

form {
  margin-bottom: 40px;
}

form input {
  padding: 5px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 120px;
}

.logo img {
  animation: App-logo-spin infinite 15s linear;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.back-icon {
  width: 50px;
  height: 30px;
}

.back-icon img {
  width: inherit;
  height: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}